#grid {
    width: auto;
    margin: auto;
    display: inline-table;
    flex-wrap: wrap;
}

img {
    width: 133px;
    height: 150px;
    margin: 0%;
}

:root{
    --hauteur-menu: 60px;
  }

 * {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }
  nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
  }

  nav > ul {
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    background-color: white;
    text-decoration: none;
    color: black;
  }
   
  nav ul {
    list-style-type: none;
    display: inline-block;
    width:33%;
  }
  
  ul a {
    text-decoration: none;
    color: black;
  }
  .item > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  nav > ul:hover > a{
    color: #2169EC;
  }

 